coloredlogs==1.0.1
tornado==4.0.2
-e git://github.com/Checkio/checkio-referee.git#egg=checkio-referee
-e git://github.com/CheckiO/EoC-battle-mocks.git#egg=battle-mocks
-e git://github.com/CheckiO/EoC-battle-missions.git#egg=battle-missions
